.header {
	@include font-montserrat-bold;

	.mainlogo {
		width: 180px;
		height: 120px;
		transform: scale(0.7);
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url(../../icons/coin-with.png);
		background-size: cover;
	}
	// .mainlogo::after {
	// 	content: url(../../icons/coin-dungeon.jpg);
	// 	// content: url(../../icons/logo-thrupny.svg);
	// 	background-size: cover;
	// 	background-size: 100% 100%;
	// 	// display: flex;
	// }

	&__wrapper {
		max-width: 1168px;
		height: 90px;
		margin: auto;
		display: flex;
		align-items: center;
		font-size: 16px;
	}

	&__landing {
		background-color: transparent;
		color: white;
		@include font-montserrat-semibold;
	}
	&__processing {
		background-color: #fafafa;
		border-bottom: 1px solid rgba(128, 163, 182, 0.1);
		color: $maintext;
	}
}
