.font-bold {
	font-family: 'Montserrat-bold', sans-serif !important;
}
.without-border {
	border: none !important;
}
.text-black {
	color: black !important;
}
.font-14 {
	font-size: 14px !important;
}
